# Environment variables (contains secrets)
.env

# Node modules
node_modules/
frontend/node_modules/

# Build outputs
dist/
build/
frontend/dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Misc
*.bak
*.tmp
trades.db
#data/strategies/config/spx-streamer-01.json
#data/strategies/state/spx-streamer-01.json
#data/strategies/config/MES-Interval-Default.json
#data/strategies/state/MES-Interval-Default.json
data/historical_data
data/catalog